# ------------- app settings -------------
APP_NAME="Generative Backend"
APP_DESCRIPTION="Part of the contact center automation system"
APP_VERSION="0.1"
CONTACT_NAME="Roman Neronov"
CONTACT_EMAIL="roman.nieronov@mail.ru"
LICENSE_NAME="CC-BY-4.0 license"

# ------------- database -------------
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_SERVER="db" # default "localhost", if using docker compose you should use "db"
POSTGRES_PORT=5432 # default "5432", if using docker compose you should use "5432"
POSTGRES_DB="database"

# ------------- pgadmin -------------
PGADMIN_DEFAULT_EMAIL="PGADMIN_DEFAULT_EMAIL@gmail.com"
PGADMIN_DEFAULT_PASSWORD="PGADMIN_DEFAULT_PASSWORD"
PGADMIN_LISTEN_PORT=80

# ------------- crypt -------------
SECRET_KEY=123 # result of openssl rand -hex 32
ALGORITHM=HS256 # pick an algorithm, default HS256
ACCESS_TOKEN_EXPIRE_MINUTES=600 # minutes until token expires, default 30
REFRESH_TOKEN_EXPIRE_DAYS=140 # days until token expires, default 7

# ------------- admin -------------
ADMIN_NAME="ADMIN_NAME"
ADMIN_EMAIL="ADMIN_EMAIL@gmail.com"
ADMIN_USERNAME="ADMIN_USERNAME"
ADMIN_PASSWORD="ADMIN_PASSWORD"

# ------------- admin-agent -------------
ADMIN_AGENT_NAME="ADMIN_AGENT_NAME"
ADMIN_AGENT_SURNAME="ADMIN_AGENT_SURNAME"
ADMIN_AGENT_ID=1
ADMIN_AGENT_EMAIL="ADMIN_AGENT_EMAIL@gmail.com"
ADMIN_AGENT_USERNAME="ADMIN_AGENT_USERNAME"
# ------------- redis cache-------------
REDIS_CACHE_HOST="redis" # default "localhost", if using docker compose you should use "redis"
REDIS_CACHE_PORT=6379 # default "6379", if using docker compose you should use "6379"

# ------------- redis client-side cache -------------
CLIENT_CACHE_MAX_AGE=30 # default "30"

# ------------- redis queue -------------
REDIS_QUEUE_HOST="redis" # default "localhost", if using docker compose you should use "redis"
REDIS_QUEUE_PORT=6379 # default "6379", if using docker compose you should use "6379"

# ------------- first tier -------------
TIER_NAME="free"

# ------------- redis rate limit -------------
REDIS_RATE_LIMIT_HOST="redis"   # default="localhost", if using docker compose you should use "redis"
REDIS_RATE_LIMIT_PORT=6379          # default=6379, if using docker compose you should use "6379"


# ------------- default rate limit settings -------------
DEFAULT_RATE_LIMIT_LIMIT=1000         # default=10
DEFAULT_RATE_LIMIT_PERIOD=60      # default=3600

# ------------- test -------------
TEST_NAME="Tester User"
TEST_EMAIL="test@tester.com"
TEST_USERNAME="testeruser"
TEST_PASSWORD="password"

# ------------- business variable --------------
# Time increment to determine the correct time in logs and databases
TIME_ZONE=3


# It is necessary to use the binary for the "piper" library
PROCESSOR_ARCHITECTURES="arm64" # Alternative - {"amd64"} |


# ------------- environment -------------
ENVIRONMENT="local"